In [1]:
print("Hello World")

Hello World

In [18]:
#Defining Variables

x = 5

print(x)

5

In [19]:
x

5

In [22]:
name = 'Ryan'

In [23]:
type(name)

str

In [24]:
type(x)

int

In [26]:
#Lists

my_List = [1,2,3,4]
print(my_List)

[1, 2, 3, 4]

In [27]:
my_List =["list","of","strings"]

In [28]:
my_List = [1,"of",[]]

In [29]:
my_List = [[1,2,3,], [False,True],[]]

In [30]:
len(my_List)

3

In [31]:
#Sets

my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [32]:
type(my_set)

set

In [33]:
len(my_set)

5

In [34]:
my_set = {1,1,2,2}
len(my_set)
print(my_set)

{1, 2}

In [36]:
#Arithmetic Operators

'String 1 ' + 'String 2'

'String 1 String 2'

In [37]:
'- String - ' * 4

'- String - - String - - String - - String - '

In [38]:
'1 ' + 4

TypeError: can only concatenate str (not "int") to str

In [39]:
#Control Flow
a = True

if a :
    print('It is true')
    print('Also print this')
else:
    print('It is false')
print('Always print this')

It is true
Also print this
Always print this

In [40]:
a = True
b = False
c = True

if a :
    print('It is true')
    print('Also print this')
    if b :
        print('Both are true')
        if c:
            print('All tree are true')
else:
    print('It is false')
print('Always print this')

It is true
Also print this
Always print this

In [41]:
#For loops

a = [1,2,3,4,5]

for number in a:
    print(number)

1
2
3
4
5

In [4]:
b = 11
a = 2
c = b/a

print(c)

5.5

In [5]:
a = 20
b =6

print(a/b)

3.3333333333333335

In [42]:
#Functions

def MultiplyByThree(val):
    return 3 * val

MultiplyByThree(4)

12

In [43]:
def multiply(val1, val2):
    return val1 * val2

multiply(3,4)

12

In [44]:
a = [1,2,3]

def AppendFour(myList):
    myList.append(4)

AppendFour(a)

print(a)

[1, 2, 3, 4]

In [45]:
print(print('Hello world'))

Hello world
None

In [46]:
type(None)

NoneType

In [47]:
None + 1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [10]:
def Subtract():
    return 15 - 3

In [13]:
Subtract()

12

In [52]:
#Classes

class Dog:
    def __init__(self, name):
        self.name = name
        self.legs = 4
    def speak(self):
        print(self.name + ' says : bark ')

In [53]:
my_Dog = Dog("Rover")
another_Dog = Dog("Flufy")

In [50]:
my_Dog.speak()

Rover says : bark

In [51]:
another_Dog.speak()

Flufy says : bark

In [55]:
#Factorials

myVar = 1

if type(myVar) == int:
    print('myVar is an integer')

if type(myVar) != int:
    print('myVar is NOT an integer')

myVar is an integer

In [1]:
i = 0
s = 0

while i < 10:
    
    i = i + 1
    s = s + i

s

55

In [67]:
def factorial(num):
    if type(num) is not int:
        return None
    if num < a:
        return None
    if num == 0:
        return 1
    
    i = 0
    f = 1
    while i < num:
        i = i + 1
        f = f + 1
    
    return f

In [68]:
def factorial(num):
    if type(num) is not int:
        return None
    if num < 0:
        return None
    
    if num == 0:
        return 1
    
    return num * factorial(num - 1)

In [2]:
#Ints And Floats

20/4

5.0

In [3]:
4 + 4.0

8.0

In [5]:
4 * 4.0

16.0

In [6]:
4**4.0

256.0

In [7]:
int(4**4.0)

256

In [8]:
int(8.9)

8

In [9]:
int(8.999999999)

8

In [12]:
int(14/3)

4

In [15]:
round(14/3, 2)

4.67

In [16]:
1.2-1.0

0.19999999999999996

In [17]:
14/3

4.666666666666667

In [19]:
round(1.2-1.0, 2)

0.2

In [20]:
from decimal import Decimal, getcontext

In [21]:
int('100')

100

In [22]:
int('100',2)

4

In [23]:
int(100,2)

TypeError: int() can't convert non-string with explicit base

In [25]:
int('1ab',16)

427

In [26]:
getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [27]:
getcontext().prec=4

In [28]:
getcontext()

Context(prec=4, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [31]:
getcontext().prec=2

In [32]:
Decimal(1)/Decimal(3)

Decimal('0.33')

In [33]:
Decimal(3.4)

Decimal('3.399999999999999911182158029987476766109466552734375')

In [34]:
Decimal('3.14')

Decimal('3.14')

In [37]:
round(1.2 - 1.0,2)

0.2

In [38]:
#Booleans

bool(1)

True

In [39]:
bool(0)

False

In [40]:
bool(-1)

True

In [41]:
bool(1j)

True

In [42]:
bool(0.0)

False

In [43]:
bool(0j)

False

In [44]:
bool('True')

True

In [45]:
bool('False')

True

In [54]:
#Slicing

name = 'My name is iron-man'

In [48]:
name[0]

'M'

In [49]:
name[1]

'y'

In [50]:
name[:7]

'My name'

In [55]:
name[11:]

'iron-man'

In [57]:
my_List = [1,2,3,4,5]

In [58]:
my_List[2:4]

[3, 4]

In [59]:
len(name)

19

In [60]:
len(my_List)

5

In [63]:
'My number is: ' + str(5)

'My number is: 5'

In [64]:
f'My number is {5}'

'My number is 5'

In [65]:
f'My number is {5} and twice that is {5*2}'

'My number is 5 and twice that is 10'

In [23]:
import math

f'Pi is: {math.pi:.2f}'

'Pi is: 3.14'

In [22]:
import math
'Pi is: {}'.format(math.pi)

'Pi is: 3.141592653589793'

In [79]:
#Multiline Strings

myString  =  '''Here is a long block of text 
I can add new lines!
the text doesn't stop until it see \'\'\' 
'''

In [80]:
myString

"Here is a long block of text \nI can add new lines!\nthe text doesn't stop until it see ''' \n"

In [81]:
print(myString)

Here is a long block of text
I can add new lines!
the text doesn't stop until it see '''

In [82]:
#Bytes


bytes(4)

b'\x00\x00\x00\x00'

In [21]:
smileyBytes = bytes('ðŸ˜Š', 'utf-8')
smileyBytes

b'\xf0\x9f\x98\x8a'

In [24]:
smileyBytes.decode('utf-8')

'ðŸ˜Š'

In [27]:
smileyBytes = bytearray('ðŸ˜Š', 'utf-8')

In [16]:
#CONVERTING HEX TO DECIMAL

hexNumbers = {
    '0' : 0, '1' : 1, '2' : 2, '3' : 3, '4' : 4,'5':5,'6':6,'7':7,'8':8,'9':9,
    'A':10,'B':11, 'C':12,'D':13,'E' : 14, 'F':15

}
def hexToDec(hexNum):
    pass

In [17]:
hexToDec('A')

In [18]:
def hexToDec(hexNum):
    for char in hexNum:
        if char not in hexNumbers:
            return None
        
    if len(hexNum) == 3:
        return hexNumbers[hexNum[0]] * 256 + hexNumbers[hexNum[1]] * 16 + hexNumbers[hexNum[2]]

In [19]:
hexToDec('ABC')

2748

In [17]:
#Modifying lists

myList = [1,2,3,4,5]
myList.insert(3,'My name')
print(myList)

[1, 2, 3, 'My name', 4, 5]

In [18]:
while len(myList) > 0:
    print(myList.pop())

5
4
My name
3
2
1

In [28]:
liist = [1,2,3,4,5]
lisst = [7,6,4]
lisst = liist.copy()

print(liist)
print(' ')

print(lisst)

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [29]:
#Tuples

myTupple = ('a','b','c')
myTupple

('a', 'b', 'c')

In [30]:
myTupple[0]

'a'

In [31]:
myTupple[0] = 'f'

TypeError: 'tuple' object does not support item assignment

In [32]:
def myTuppleValue():
    return 1,2,3

type(myTuppleValue())

tuple

In [33]:
#Dictonaries

In [34]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [35]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [36]:
otherDict = {
    
    "Name " : 'Sibabalo',
    "Surname " : 'Njisane',
    "Resident" : 'Flagstaff',
    "Age " : '31'

}

print(otherDict)

{'Name ': 'Sibabalo', 'Surname ': 'Njisane', 'Resident': 'Flagstaff', 'Age ': '31'}

In [1]:
#LIST COMPREHENSION

my_List = [1,2,3,4,5]
[2*item for item in my_List]

[2, 4, 6, 8, 10]

In [25]:
#Filtering numbers that are divisible by 10 or any number but have no remainder

my_List = list(range(100))
filteredList = [item for item in my_List if item %10 == 0 ]
filteredList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [27]:
#Filtering numbers that have a remainder less than 3 when devided by 10

filteredList = [item for item in my_List if item % 10 < 3]
print(filteredList)

[0, 1, 2, 10, 11, 12, 20, 21, 22, 30, 31, 32, 40, 41, 42, 50, 51, 52, 60, 61, 62, 70, 71, 72, 80, 81, 82, 90, 91, 92]

In [28]:
#LIST COMPRESSION WITH FUNCTIONS

myString = 'My name is Ryan Michell. I live in Boston'
myString.split('.')

['My name is Ryan Michell', ' I live in Boston']

In [29]:
myString.split()

['My', 'name', 'is', 'Ryan', 'Michell.', 'I', 'live', 'in', 'Boston']

In [33]:
def cleanWord(word):
    return word.replace('.', '').lower()

[cleanWord(word) for word in myString.split()]

['my', 'name', 'is', 'ryan', 'michell', 'i', 'live', 'in', 'boston']

In [31]:
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) < 3]

['my', 'is', 'i', 'in']

In [37]:
#Nested List Comprehension
[[cleanWord(word) for word in sentence.split()] for sentence in myString.split('.')]

[['my', 'name', 'is', 'ryan', 'michell'], ['i', 'live', 'in', 'boston']]

In [ ]:
#DICTIONARIES AND COMPRESSIONS

In [46]:
def encodeString(stringVal):
    pass

In [45]:
def decodeString(encodedList):
    pass

In [50]:
art= '''
                            %%%%%%%%%%%%%%%%%%%%%
                    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                %%%%%%%%                                %%%%%
            %%%%                                       %%%%%
        %%%%                                               %%%%
      %%%%                                                     %%%%
    %%%%                                                           %%%%
        %%%%                                                %%%%
        %%%%                                                %%%%
        %%%%                                                %%%%
        %%%%                                                %%%%
        %%%%                                                %%%%
        %%%%                                                %%%%
        %%%%                                                %%%%
        %%%%                                                %%%%
        %%%%                                                %%%%
        %%%%                                                %%%%
        %%%%                                                %%%%#
                    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

'''

In [48]:
#SMILEY FACE ASCII ART

def encodeString(stringVal):
    encodedList =[]
    prevChar = stringVal[0]
    count = 0

    for char in stringVal:
        if prevChar != char:
            encodedList.append((prevChar,count))
            count = 0

            prevChar = char
            count = count + 1

    encodedList.append((prevChar, count))
    return encodedList
                               

def decodeString(encodedList):
    decodedStr = ''
    for item in encodedList:
        decodedStr = decodedStr +item[0] + item[1]
        return decodedStr

In [49]:
#Test encodeString Function
encodeString('AAAAABBBBCCC')

[('A', 0), ('B', 1), ('C', 1)]

In [43]:
#Test decode string function
decodeString([('A', 5),('B',4),('C', 3)])

TypeError: can only concatenate str (not "int") to str